---
affinity: {}

fullnameOverride: ""

image:
  repository: ghcr.io/ministryofjustice/analytical-platform-mlflow
  pullPolicy: IfNotPresent
  tag: 3.7.0-rc1

imagePullSecrets: []

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

livenessProbe:
  httpGet:
    path: /health
    port: http

mlflow:
  environment: []

nameOverride: ""

nodeSelector: {}

podAnnotations: {}

podLabels: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  seccompProfile:
    type: RuntimeDefault

replicaCount: 1

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  capabilities:
    drop:
      - ALL
  seccompProfile:
    type: RuntimeDefault

readinessProbe:
  httpGet:
    path: /health
    port: http

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 128Mi

service:
  type: ClusterIP
  port: 5000

serviceAccount:
  create: true
  automount: true
  name: ""
  annotations: {}

serviceMonitor:
  enabled: false
  interval: 15s
  path: /metrics

tolerations: []

volumes:
  - name: tmp
    emptyDir: {}
  - name: mlflow-data
    emptyDir: {}

volumeMounts:
  - name: tmp
    mountPath: /tmp
  - name: mlflow-data
    mountPath: /opt/mlflow/data
