---
affinity: {}

fullnameOverride: ""

image:
  repository: ghcr.io/ministryofjustice/analytical-platform-mlflow
  pullPolicy: IfNotPresent
  tag: 2.22.1-rc2

imagePullSecrets: []

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

livenessProbe:
  httpGet:
    path: /health
    port: http

mlflow:
  environment: []

nameOverride: ""

nodeSelector: {}

podAnnotations: {}

podLabels: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65532
  fsGroup: 65532
  seccompProfile:
    type: RuntimeDefault

replicaCount: 1

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532

readinessProbe:
  httpGet:
    path: /health
    port: http

resources:
  limits:
    cpu: 2000m
    memory: 4Gi
  requests:
    cpu: 100m
    memory: 256Mi

service:
  type: ClusterIP
  port: 5000

serviceAccount:
  create: true
  automount: true
  name: ""
  annotations: {}

serviceMonitor:
  enabled: false
  interval: 15s
  path: /metrics

tolerations: []

volumes: []

volumeMounts: []
