---
version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: ":dependabot: github-actions"
      include: "scope"
    cooldown:
      default-days: 7
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: ":dependabot: devcontainers"
      include: "scope"
    cooldown:
      default-days: 7
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: ":dependabot: docker"
      include: "scope"
    cooldown:
      default-days: 7
  - package-ecosystem: "pip"
    directory: "/src/opt/mlflow"
    schedule:
      interval: "daily"
    commit-message:
      prefix: ":dependabot: pip"
      include: "scope"
    cooldown:
      default-days: 7
    groups:
      mlflow:
        patterns:
          - "mlflow*"
